<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <script src="https://kit.fontawesome.com/821a0ff069.js" crossorigin="anonymous"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>


</head>
<body>

<div th:switch="${users}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No users yet!</h2>
            <div th:case="*">

                <h2 class="my-5">EE HOMEWORK</h2>
                <div>
                    <label for="users">Users: </label>
                    <input id="users" type="text" placeholder="Search">
                </div>
                <script>
                    $( function() {
                        var availableUsers = [
                            "Tauri",
                            "Peter",
                            "Jaanus",
                            "Ain",
                            "Siiru",
                            "Heli",
                        ];
                        $( "#users" ).autocomplete({
                            source: availableUsers
                        });
                    } );
                </script>
                <table class="table table-striped table-responsive-md sortable">
                    <thead >
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Date of birth</th>
                        <th>E-mail</th>
                        <th>Address</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.birthDate}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.address}"></td>
                        <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn"><i class="fas fa-pencil-alt"></i></a></td>
                        <td><a th:href="@{/delete/{id}(id=${user.id})}" class="btn"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/signup" class="btn btn-outline-secondary">Add new user</a></p>
        </div>
    </div>
</div>
</body>
</html>
